<div class="container">
    <h1>Cálculo de Resistencias</h1>
    <form>
        <div class="form-group">
            <label for="color1">Color de la Resistencia 1</label>
            <select class="form-control" id="color1" name="color1" [(ngModel)]="color1">
                <option selected>Selecciona una resistencia</option>
                <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }} </option>
            </select>
        </div>
        <div class="form-group">
            <label for="color2">Color de la Resistencia 2</label>
            <select class="form-control" id="color2" name="color2" [(ngModel)]="color2">
                <option selected>Selecciona una resistencia</option>
                <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="color3">Color de la Resistencia 3</label>
            <select class="form-control" id="color3" name="color3" [(ngModel)]="color3">
                <option selected>Selecciona una resistencia</option>
                <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Tolerancia</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="tolerancia" name="tolerancia" value="0.05">
                <label class="form-check-label" for="tolerancia1">± 5%</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="tolerancia" name="tolerancia" value="0.1">
                <label class="form-check-label" for="tolerancia2">± 10%</label>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="calcular()">Calcular</button>
    </form>

    <div class="mt-3">{{ resultado }}</div>
    <div class="mt-3">{{ resultadoSuperior }}</div>
    <div class="mt-3">{{ resultadoInferior }}</div>
</div>